<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feri.wyh10000.admin.mapper.AdminRoleMapper">
  <delete id="deleteByAid" parameterType="java.lang.Integer">
    delete from t_adminrole where aid = #{aid}
  </delete>
  <insert id="insert" parameterType="com.feri.wyh10000.admin.entity.AdminRole">
    insert into t_adminrole(aid, rid) values ( #{aid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER})
  </insert>
</mapper>