<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feri.wyh10000.admin.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.feri.wyh10000.admin.entity.Resource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="per" jdbcType="VARCHAR" property="per" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, per, icon, type, parentid
  </sql>

  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from t_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.feri.wyh10000.admin.entity.Resource">
    insert into t_resource (id, name, per, 
      icon, type, parentid
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{per,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{parentid,jdbcType=INTEGER}
      )
  </insert>

  <update id="updateById" parameterType="com.feri.wyh10000.admin.entity.Resource">
    update t_resource
    set name = #{name,jdbcType=VARCHAR},
      per = #{per,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      parentid = #{parentid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryByUserName" resultType="com.feri.wyh10000.admin.entity.Resource">
    select r.* from  t_resource r
    left join t_roleresource rr on r.id=rr.resid
    left join t_adminrole ur on ur.rid=rr.rid
    left join t_admin u on ur.aid=u.id
    where r.type=1 and u.name=#{name} order by r.parentid,r.id;
  </select>
  <select id="selectByAid" resultType="com.feri.wyh10000.admin.entity.Resource">
   select r.* from  t_resource r
      left join t_roleresource rr on r.id=rr.resid
      left join t_adminrole ur on ur.rid=rr.rid
      left join t_admin u on ur.aid=u.id
      where r.type=2 and u.id=#{aid} order by r.id ;
  </select>

  <select id="selectByPid" resultType="com.feri.wyh10000.admin.entity.Resource">
    select * from t_resource where type=1 and parentid=-1 order by id;
  </select>

  <select id="selectByPage" resultType="com.feri.wyh10000.admin.entity.Resource">
    select * from t_resource limit #{index},#{count}
  </select>
  <select id="selectCount" resultType="int">
    select COUNT(*) from t_resource;
  </select>
</mapper>