<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feri.wyh10000.admin.mapper.RoleResourceMapper">
  <resultMap id="BaseResultMap" type="com.feri.wyh10000.admin.entity.RoleResource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="resid" jdbcType="INTEGER" property="resid" />
    <result column="rid" jdbcType="INTEGER" property="rid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, resid, rid
  </sql>

  <delete id="deleteByRid" parameterType="java.lang.Integer">
    delete from t_roleresourceource where rid = #{id}
  </delete>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from t_roleresourceource where id = #{id}
  </delete>

  <insert id="insert" parameterType="com.feri.wyh10000.admin.entity.RoleResource">
    insert into t_roleresourceource (resid, rid)
    values ( #{resid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER})
  </insert>
</mapper>